body {
  scroll-padding-top: 5.25em;
}

h1, h2, h3 {
  position: sticky;
  background: white;
}

h1 {
  top: 0;
  padding-left: 0em;
}

h2 {
  top:  1.5em;
  padding-left: 1em;
}

h3 {
  top: 3.25em;
  padding-left: 2em;
}

p {
  padding-left: 3em;
}

:target {
  background: rgba(255, 0, 0, 0.1)
}
